* { margin: 0; padding: 0;}

body {
    font-family: 'Nunito', sans-serif;
}

.my-button {
    width: 90%;
}

.main {
    display: flex;

}

.left {
    text-align: center;
    flex: 1;
}

.middle {
    flex: 11;
    display: flex;
    flex-direction: column;

}
